/**
* RESPONSIVE CSS
* 
* 6 column responsive grid
*/

.container {
    margin-top: 30px !important;
}

.container, 
.section {
    clear: both;
    margin: 0;
    padding: 10px 0 85px 0;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 3%;
}

.col:first-child {
    margin-left: 0;
}

.group:before, 
.group:after { 
    content: ""; 
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.col-6 {
    width: 100%;
}

.col-5 {
    width: 82.83%;
}

.col-4 {
    width: 65.66%;
}

.col-3 {
    width: 48.5%;
}

.col-2 {
    width: 31.33%;
}

.col-1 {
    width: 14.16%;
}


@media only screen and (max-width: 1023px) {
    body {
        margin: 20px 5% !important;
    }

    .col-3 {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 960px) and (min-width: 769px) {
    body {
        margin: 20px 2% !important;
    }

    .student-img {
        height: 120px;
    }

    .info-list {
        font-size: x-small !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    body {
        margin: 20px 5% !important;
    }

    .student-img {
        height: 120px;
    }

    .info-list {
        font-size: x-small !important;
    }
}

@media only screen and (max-width: 480px) {
    body {
        margin: 20px 13% !important;
    }

    .col { 
        margin: 1% 0 1% 0%;
    }

    .col-1, 
    .col-2, 
    .col-3, 
    .col-4, 
    .col-5, 
    .col-6 {
        width: 100%;
    }
}