/**
* JUMPCUT SALES PAGE CSS
*
* Author: Charlene Gonzales 2018
*/


/* ==========================================================================
   Layout Styles (Header, Footer)
   - styles general and layout elements
   ========================================================================== */

body {
    background: #0c131b;
    color: #fff;
    height: 100%;
    margin: 30px 15%;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

hr {
    border: none;
    border-bottom: 1px solid #30363d;
}

.logo {
    width: auto;
    height: 25px;
    margin-bottom: 10px;
}

#footer {
    font-weight: 300;
    font-size: x-small;
    margin: 40px 0;
}

#disclaimer {
    margin-top: -5px;
}

#copyright {
    margin: 40px 0;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

/* ==========================================================================
   Text/Font Styles
   - styles for text elements
   ========================================================================== */

.small {
    font-size: small;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.primary {
    color: #50f8df;
}

.default {
    color: #9da3aa;
}


/* ==========================================================================
   Section 1 Element Styles
   - styles for #section-1
   ========================================================================== */

#video-img {
    margin-top: 30px;
    width: 95%;
    cursor: pointer;
}


/* ==========================================================================
   Section 2 Element Styles
   - styles for #section-2
   ========================================================================== */

.box {
    border: 1px solid #30363d;
    height: 100%;
    padding: 30px 0px 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.box h3 {
    height: 35px;
}

.student-img {
    height: 120px;
}

.info-list {
    list-style: none;
    text-align: left;
    font-size: small;
    color: #9da3aa;
    line-height: 23px;
}

.send-btn {
    font-size: large;
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    background: #0c131b;
    color: #fff;
    border: 3px solid #50f8df;
    width: 30%;
    cursor: pointer;
}

.send-btn > span {
    vertical-align: top;
    margin: 1%;
}

/* ==========================================================================
   Modal Styles
   - styles for modal
   ========================================================================== */

#myModal {
    display: none;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-color: rgba(0, 0, 0, 0.77);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 30px;
    border: 5px solid #888;
    border-radius: 10px;
    width: 40%;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
    transition:  all .3s ease-in-out;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    top: 0px;
    transform: scale(1.1);
    transition:  all .3s ease-in-out;
  }

/* The Close Button */
.close {
    background: black;
    color: #fff;
    float: right;
    font-size: 25px;
    font-weight: bold;
    width: 35px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: -50px;
    margin-right: -50px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal {
    color: #000;
}

.modal-send-button {
    background: #e33a2b !important;
    color: #fff;
    width: 100%;
    border: none;
    border-bottom: 3px solid #b62e22;
    cursor: pointer;
}

.modal-input {
    width: 100%;
    height: 60px;
    border: 3px solid #c0c0c0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.50em;
    color: #747474;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    background: none;
}

.modal-input:focus {
    border-color: #42B0E2;
}

.input-icon {
    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
}

.modal-input-container {
    margin: 20px 0px;
    background: #f0f0f0;
    border-radius: 10px;
    padding-right: 7px;
}

.modal-form-note {
    color: #8f8f8f;
    text-align: center;
}

