/**
* JUMPCUT SALES PAGE CSS
*
* Author: Charlene Gonzales 2018
*/


/* ==========================================================================
   Layout Styles 
   - styles general and layout elements
   ========================================================================== */

body {
    background: #0c131b;
    color: #fff;
    height: 100%;
    margin: 30px 15%;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

hr {
    border: none;
    border-bottom: 1px solid #30363d;
}
.logo {
    width: auto;
    height: 25px;
}


/* ==========================================================================
   Text/Font Styles
   - styles for text elements
   ========================================================================== */

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.primary {
    color: #50f8df;
}

/* ==========================================================================
   Section 1 Element Styles
   - styles for #section-1
   ========================================================================== */

#video-img {
    margin-top: 30px;
    width: 95%;
    cursor: pointer;
}


/* ==========================================================================
   Section 2 Element Styles
   - styles for #section-2
   ========================================================================== */

.box {
    border: 1px solid #30363d;
    height: 100%;
    padding: 20px 0px;;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.info-list {
    list-style: none;
    text-align: left;
    font-size: small;
    color: #9da3aa;
    line-height: 23px;
}